mixin information_blocks(title, text, link, link_headline)
	h3 #{title}
	p #{text}
	a.a-information_block(href='#{link}' target='_blank') #{link_headline}   
		i.fas.fa-arrow-right


mixin services(link, title, intro)
	.container
		.row
			.col-sm-12
				a.a--services__row.flex(href='#{link}')
					.services__row__content
						h3 #{title}
						p #{intro}
					.services-arrow 
						img(src='../assets/images/arrow.png', alt='arrow')
						

mixin project(projectTitle, logoSrc, projectIntro)
	.col-md-6
		.col-md-12.project__box
			.name-logo.flex
				h2.h2--projects #{projectTitle}
				img(src='#{logoSrc}', alt='logo project')
			p.p--resized #{projectIntro}
			a.a--btn-project(href="#") peržiūrėti projektą	

mixin project2(projectTitle, projectIntro)
	.col-md-6
		.col-md-12.project__box
			.name-logo.flex
				h2.h2--projects #{projectTitle}
				img(src='../assets/images/kitas_logo.png', alt='logo project')
			p.p--resized #{projectIntro}
			a.a--btn-project(href="#") peržiūrėti projektą
			
			
mixin publication(publicationNumber, authorsAndTitle )
	.row
		.col-md-12
			.publications__box.flex
				.number #{publicationNumber}
				p.p--resized #{authorsAndTitle}
				
mixin member(fullname, position, aboutMember)
	.col-md-6
		.team__member
			.col-md-12
				.member__box__content.flex
					.team__member__photo
						img(src='../assets/images/doctor.jpg', alt='member')
					.team__member__name
						h4.h4--state-bold #{fullname}
						h4 #{position}
				p.p--resized #{aboutMember}		
						
				



	
